@import url(../../assets/colores.css);

footer{
    position: relative;
    bottom: 0;
    height: 10vh;
    width: 100%;
    color: var(--azul);
    font-size: 0.9rem;
    font-family: 'Raleway';
}

footer > a{
    text-decoration: none;
    color: var(--azul);
    font-size: 1.5rem;
}

footer > *:nth-child(1){
    margin-top: 15px;
    margin-bottom: 10px;
}