@import url(../../assets/colores.css);

*{
    margin: 0;
    padding: 0;
}

div.texto > p:nth-child(1){
    font-family: 'Prosto one';
    font-size: 2rem;
    color: var(--azul);
}

div.texto > p:nth-child(7),div.texto > p:nth-child(5), div.texto > p:nth-child(8){
    font-family: 'Raleway';
    font-size: 1rem;
    color: var(--celeste);
}

div.texto > p:nth-child(8){
    color: var(--blanco);
    background: var(--rojo);
    font-weight: bold;
    padding: 10px;
}

div.texto > p:nth-child(7){
    font-size: 3rem;
}

div.texto > *:nth-child(3){
    width: 75%;
    margin: auto;
    border: 0.5px solid var(--azul);
}

.tarjeta{
    transition: all 0.8s;
    width: 35%;
    height: 35%;
    margin: auto;
    margin-top: 15%;
	transform-style: preserve-3d;
    text-align: center;
    border-radius: 5px;
}

.tarjeta:hover{
  transform: rotateY(180deg);
}

.texto{
	position: absolute;
	height: 100%;
    width: 100%;
    padding-top: 25px;
    backface-visibility: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.frontal{ 
    background-color: rgba(255,255,255,0.3);
}

.trasero{
	height: 100%;
	width: 100%;
    transform: rotateY(180deg);
    background-color: rgba(255,255,255,0.3);
}

.trasero > img{
    height: 60%;
}