<div class="contenido">
    <div class="tarjeta">
        <div class="texto frontal">
            <p><i class="fas fa-laptop-code"></i> Denys Cruz</p>
            <br>
            <hr>
            <br>
            <p>Tecnico en ingenieria en computacion</p>
            <br>
            <p><i class="fab fa-angular"></i></p>
            <p>Pon el puntero sobre mi <i class="fas fa-mouse-pointer"></i></p>
        </div>
        <div class="texto trasero">
            <p><i class="fas fa-laptop-code"></i> Denys Cruz</p>
            <br>
            <hr>
            <img src="../../assets/miFoto.png" alt="">
        </div>
    </div>
    
</div>