<div class="contenido">
    <div class="tarjeta">
        <p>
            <i class="fas fa-university"></i> Estudios
        </p>
        <br>
        <hr>
        <br>
        <p>
            Basicos: 
        </p> 
        <p>
            Centro Escolar Colonia Rosa Linda
        </p>
        <br>
        <p>
            Bachillerato: 
        </p> 
        <p>
            Instituto Nacional de San Martin
        </p>
        <br>
        <p>
            Universitarios: 
        </p> 
        <p>
            Universidad Don Bosco, actualmente egresado
        </p>
    </div>
</div>