<div class="contenido">
    <div class="grid-padre">
        <div class="grid-hijo hijo1">
            <p>Base de datos</p>
            <ul>
                <li>
                    Diseño, creacion y manejo de base de datos relacionales
                </li>
                <li>
                    Normalizacion de base de datos
                </li>
                <li>
                    Conocimiento de consultas
                </li>
                <li>
                    Creacion y manejo de desencadenadores (triggers)
                </li>
                <li>
                    Creacion y manejo de procedimientos almacenados (procedure)
                </li>
                <li>
                    Diseño e implementacion de vistas
                </li>
                <li>
                    Encriptacion de vistas y procedimientos almacenados (en SQLServer)
                </li>
                <li>
                    Manejo de condicionales, ciclos y variables (en SQLServer y MySql)
                </li>
                <li>
                    Experiencia con gestores SQLServer y MySql
                </li>
            </ul>
        </div>
        <div class="grid-hijo hijo2">
            <p>Diseño web</p>
            <ul>
                <li>
                    Conocimiento de HTML5 y CSS3
                </li>
                <li>
                    Maquetacion (también con css grid)
                </li>
                <li>
                    Manejo de variables (en css3)
                </li>
                <li>
                    Diseño responsivo (adaptativo)
                </li>
                <li>
                    Conocimiento de Angular 8
                </li>
                <li>
                    Sitios web de una sola pagina (SPA) con Angular
                </li>
                <li>
                    Uso de preprocesadores (poco)
                </li>
                <li>
                    Experiencia con librerias para diseño (bootstrap y materialize)
                </li>
                <li>
                    Manejo de libreria jquery(poco)
                </li>
            </ul>
        </div>
        <div class="grid-hijo hijo3">
            <p>Desarrollo web</p>
            <ul>
                <li>
                    Conocimiento de PHP
                </li>
                <li>
                    Programacion orientada a objetos en php
                </li>
                <li>
                    Manejo de base de datos desde php
                </li>
                <li>
                    Conocimiento de json
                </li>
                <li>
                    Peticiones ajax
                </li>
                <li>
                    Programacion con typescript
                </li>
                <li>
                    Programacion con vanilla js
                </li>
            </ul>
        </div>
        <div class="grid-hijo hijo4">
            <p>C#</p>
            <ul>
                <li>
                    Programacion orientada a objetos
                </li>
                <li>
                    Manipulacion de la base de datos
                </li>
                <li>
                    Conocimiento de ASP.NET
                </li>
                <li>
                    Conocimiento de arquitectura MVC
                </li>
                <li>
                    Uso de linq y entity framework
                </li>
            </ul>
        </div>
        <div class="grid-hijo hijo5">
            <p>JAVA</p>
            <ul>
                <li>
                    Programacion orientada a objetos
                </li>
                <li>
                    Manipulacion de la base de datos
                </li>
                <li>
                    Conocimiento de arquitectura MVC
                </li>
                <li>
                    Conocimiento de JavaServerFaces (basico)
                </li>
                <li>
                    Conocimiento de SpringMVC (basico)
                </li>
                <li>
                    Uso de hibernate y jpa
                </li>
            </ul>
        </div>
        <div class="grid-hijo hijo6">
            <p>
                Este sitio web ha sido realizado con Angular :)
            </p>
            <ul>
                <li>
                    Mi perfil de github: <a href="https://github.com/Denys7u7" target="_blank">Denys7u7 <i class="fab fa-github"></i></a>
                </li>
                <li>
                    Sitio web (tarea): <a href="https://realmadridfc124.000webhostapp.com" target="_blank"> ir <i class="fas fa-mouse-pointer"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>